*{
    margin: 0;
    padding:0;
    list-style: none;
    outline: none;
}
html,body{
    width:100%;
    height: 100%;
    background-color:darkgray;
}
.boxDom{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: auto;
}
.boxDom video{
    width: 100%;
    height: 100%;
}
.idDom{
    width: 100%;
    height: 40px;
    background-color:darkgray;
    position: fixed;
    bottom: 0;

}
.content{
    width: 500px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: -20px;
    margin: auto;
}
/*点赞*/
.btn1{
    width: 60px;
    height: 30px;
    background-color: red;
    color: #fff;
    margin: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
img{
    width: 20px;
    height: 20px;
    position: absolute;
}
/*搜索框*/
.text{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 5px;
    text-indent: 1em;
}
/*发送按钮*/
.btn{
    width: 60px;
    height: 30px;
    color: #fff;
    background-color:red;
    border: none;
    font-size: 14px;
    margin-top: 5px;
    border-radius: 5px;
    cursor:pointer;
    margin-left: 5px;
}
/* 承装弹幕的容器 */
.string{
    width: 300px;
    height: 40px;
    margin-top: 20px;
    position: absolute;
    color: #000;
    font-size: 30px;
}